venv
build
dist
.env
.idea
client/node_modules
# client/dist
test/.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
# Allow dist only for the small webrtc prebuilt package
!pipecat_ai_small_webrtc_prebuilt/client/dist/
!pipecat_ai_small_webrtc_prebuilt/client/dist/**
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
.coverage.*
.env
.venv
env/
venv/
ENV/
.mypy_cache/
.dmypy.json
dmypy.json